//ESTRUTURA
.c_off {
	display: none;
}

.herocard {
	background-color: white;
	padding-top: 30px;
	margin-bottom: 30px;
	position: relative;
	background-color: #f4f4f4;

	@include shadow(0px 0px 15px 0px rgba(0,0,0,0.50))
	@include radius(10px);
	@include transition(0.3s all ease);

	&.hasimg {
		padding-top: 150px;
		padding-bottom: 0;
		margin-top: 60px;
		margin-bottom: 30px;
		background-image: url('../images/img_symbol.png');
		background-repeat: no-repeat;
		background-position: center -220px;
	}

	.c_hero {
		h1 {
			font-size: $sizedefault*2 !important; /*32*/

			@include bp-smartphone {
				font-size: $sizedefault*1.5 !important; /*32*/
			}
		}

		small {
			font-size: $sizedefault/1.2;
			letter-spacing: 5px;
			text-transform: uppercase;
			display: block;
			color: white;
			background-color: $tclr;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-top: 10px;

			i {
				color: $pclr;
			}

			@include transition(0.2s all ease);
		}
	}

	.c_info {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 20px;

		p {
			font-size: $sizedefault/1.4; /*11*/
			text-transform: uppercase;

			a {
				font-size: $sizedefault/1.2; /*11*/
				text-transform: lowercase;
			}
		}
	}

	.c_bar {
		font-size: $sizedefault;
		height: 30px;
		position: relative;
		margin-top: 15px;
		background-color: lighten($tclr, 75%);

		@include radius(20px);

		.c_fill {
			width: 0%;
			height: 30px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			padding: 4px;
			background-image: linear-gradient(to right, $pclr, darken($pclr, 10%));

			p {
				font-size: $sizedefault/1.2;
				color: $tclr;
				position: absolute;
				left: 15px;
				top: 6px;
				z-index: 3;
			}

			@include radius(20px);
		}

		.c_icon {
			width: 40px;
			height: 40px;
			position: absolute;
			top: -5px;
			right: 0;
			z-index: 2;
			background-image: url('../images/batman_logo.png');
			background-position: center center;
			background-size: cover;
			border: 4px solid $pclr;

			@include radius(50%);
		}
	}

	img.c_img {
		max-width: 120px;
		margin: 0 auto;
		border: 5px solid $pclr;
		position: absolute;
		left: 0;
		right: 0;
		top: -20px;
		z-index: 1;

		@include transition(0.2s all ease);
		@include radius(50%);
	}

	&:hover {
		background-position: center -60px;

		.c_hero {
			small {
				background-color: $sclr;
			}
		}

		.btn {
			width: 100% !important;
		}

		img.c_img {
			max-width: 150px;
		}
	}
}

.fa-check {
	font-size: $sizedefault*5 !important;
	color: green !important;
	margin-bottom: 15px;
}