input[type="text"],
textarea {
	font-size: $sizedefault/1.2 !important;
	text-transform: uppercase;
	color: #a8a8a8 !important;
	border: none !important;
	border-bottom: 1px solid $tclr !important;
	background-color: transparent !important;
	padding: 7px 0 !important;

	@include radius(0 !important);

	&:focus {
		color: #2a2a2a;
	}

	&.hideipt {
		display: none !important;
	}
}

label {
	font-size: $sizedefault/1.2 !important;
	color: $tclr;
	display: block;

	&.error {
		color: red;
		display: block;
		background-color: #ff0000;
		padding: 5px 15px;
	}
}

textarea {
	resize: none !important;

	&:focus {
		color: #2a2a2a;
	}
}

.form-group {
	margin-bottom: 20px !important;
}

.rsp {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	background-color: rgba(0,0,0,0.7);
}