//Media query
@mixin bp-smartphone {
	@media only screen and (max-width: $break-max-smartphone) {
		@content;
	}
}

@mixin bp-tablet {
	@media only screen and (min-width: $break-min-tablet) and (max-width: $break-max-tablet) {
		@content;
	}
}

@mixin bp-smartphone-tablet {
	@media only screen and (max-width: $break-max-tablet) {
		@content;
	}
}

//Transition
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

//Radius
@mixin radius($args...) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	-ms-border-radius: $args;
	-o-border-radius: $args;
	border-radius: $args;
}

//Shadow
@mixin shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-ms-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

//Shadow
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}