// General
body, html {
	font-family: $fontprimary;
}

body {
	min-height: 100%;
	background-image: linear-gradient(to bottom right, $sclr , $tclr);
}

*:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

*:hover {
	text-decoration: none !important;
}

ul {
	font-size: $sizedefault;
	list-style: none;
}

// Helpers
.mrb-2 {
	margin-bottom: 20px !important;
}

.mrb-3 {
	margin-bottom: 30px !important;
}

.mrb-4 {
	margin-bottom: 40px !important;
}

.pclr {
	color: $pclr !important;
}

.sclr {
	color: $sclr !important;
}

// Headings & Paragraph
p {
	font-size: $sizedefault;
	color: #989898;
	font-weight: 100;
	padding: 0 !important;
	margin-bottom: 0 !important;
	
	strong {
		font-weight: 700;
		color: $tclr;
	}
}

// Buttons & Links
.btn {
	font-size: $sizedefault/1.1 !important; /*14*/
	padding-top: 15px !important;
	padding-bottom: 15px !important;

	i {
		font-size: $sizedefault*1.2 !important; /*19*/
		padding: 0 !important;
		margin-right: 10px;
	}

	&.full {
		width: 85% !important;

		@include transition(0.2s all ease);
	}
	
	@include radius(0 !important);

	@include bp-smartphone {
		font-size: $sizedefault/1.3 !important; /*12*/
		padding-top: 10px !important;
		padding-bottom: 10px !important;

		i {
			font-size: $sizedefault !important; /*16*/
			margin-right: 0;
			margin-bottom: 5px;
			display: block;
		}

		&.full {
			width: 100% !important;
		}
	}
}

.btn.btn-primary {
	color: $tclr !important;
	background-color: $pclr !important;
	border: 1px solid $pclr !important;

	&:hover, &:focus {
		color: white !important;
		background-color: darken($sclr, 5%) !important;
		border: 1px solid darken($sclr, 5%) !important;
	}
}

a.link {
	font-size: $sizedefault;
	color: lighten($tclr, 30%) !important;
	text-decoration: underline !important;

	@include transition(0.2s color ease);

	&:hover, &:focus {
		color: $sclr !important;
		text-decoration: underline !important;
	}

	&.danger {
		font-size: $sizedefault/1.5;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 4px;

		@include transition(0.2s color ease);

		&:hover, &:focus {
			color: darken(red, 5%) !important;
			background-color: transparent !important;
		}
	}
}