//Path
$path-assets: 'http://localhost/';

// Fonts
$fontprimary: 'Arial', sans-serif;
$sizedefault: 16px;

// Colors
$pclr: #FFF200; //primary color - yellow
$sclr: #0060A8; //secondary color - blue
$tclr: #303030; //terciary color - gray

//Media
$break-max-smartphone: 640px;
$break-min-tablet: 800px;
$break-max-tablet: 1024px;