body, html {
  font-family: "Arial", sans-serif; }

body {
  min-height: 100%;
  background-image: linear-gradient(to bottom right, #0060A8, #303030); }

*:focus {
  outline: 0 !important;
  box-shadow: none !important; }

*:hover {
  text-decoration: none !important; }

ul {
  font-size: 16px;
  list-style: none; }

.mrb-2 {
  margin-bottom: 20px !important; }

.mrb-3 {
  margin-bottom: 30px !important; }

.mrb-4 {
  margin-bottom: 40px !important; }

.pclr {
  color: #FFF200 !important; }

.sclr {
  color: #0060A8 !important; }

p {
  font-size: 16px;
  color: #989898;
  font-weight: 100;
  padding: 0 !important;
  margin-bottom: 0 !important; }
  p strong {
    font-weight: 700;
    color: #303030; }

.btn {
  font-size: 14.54545px !important;
  /*14*/
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important; }
  .btn i {
    font-size: 19.2px !important;
    /*19*/
    padding: 0 !important;
    margin-right: 10px; }
  .btn.full {
    width: 85% !important;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }
  @media only screen and (max-width: 640px) {
    .btn {
      font-size: 12.30769px !important;
      /*12*/
      padding-top: 10px !important;
      padding-bottom: 10px !important; }
      .btn i {
        font-size: 16px !important;
        /*16*/
        margin-right: 0;
        margin-bottom: 5px;
        display: block; }
      .btn.full {
        width: 100% !important; } }

.btn.btn-primary {
  color: #303030 !important;
  background-color: #FFF200 !important;
  border: 1px solid #FFF200 !important; }
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    color: white !important;
    background-color: #00518f !important;
    border: 1px solid #00518f !important; }

a.link {
  font-size: 16px;
  color: #7d7d7d !important;
  text-decoration: underline !important;
  -webkit-transition: 0.2s color ease;
  -moz-transition: 0.2s color ease;
  -ms-transition: 0.2s color ease;
  -o-transition: 0.2s color ease;
  transition: 0.2s color ease; }
  a.link:hover, a.link:focus {
    color: #0060A8 !important;
    text-decoration: underline !important; }
  a.link.danger {
    font-size: 10.66667px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px;
    -webkit-transition: 0.2s color ease;
    -moz-transition: 0.2s color ease;
    -ms-transition: 0.2s color ease;
    -o-transition: 0.2s color ease;
    transition: 0.2s color ease; }
    a.link.danger:hover, a.link.danger:focus {
      color: #e60000 !important;
      background-color: transparent !important; }

input[type="text"],
textarea {
  font-size: 13.33333px !important;
  text-transform: uppercase;
  color: #a8a8a8 !important;
  border: none !important;
  border-bottom: 1px solid #303030 !important;
  background-color: transparent !important;
  padding: 7px 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important; }
  input[type="text"]:focus,
  textarea:focus {
    color: #2a2a2a; }
  input[type="text"].hideipt,
  textarea.hideipt {
    display: none !important; }

label {
  font-size: 13.33333px !important;
  color: #303030;
  display: block; }
  label.error {
    color: red;
    display: block;
    background-color: #ff0000;
    padding: 5px 15px; }

textarea {
  resize: none !important; }
  textarea:focus {
    color: #2a2a2a; }

.form-group {
  margin-bottom: 20px !important; }

.rsp {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7); }

.c_off {
  display: none; }

.herocard {
  background-color: white;
  padding-top: 30px;
  margin-bottom: 30px;
  position: relative;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .herocard.hasimg {
    padding-top: 150px;
    padding-bottom: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    background-image: url("../images/img_symbol.png");
    background-repeat: no-repeat;
    background-position: center -220px; }
  .herocard .c_hero h1 {
    font-size: 32px !important;
    /*32*/ }
    @media only screen and (max-width: 640px) {
      .herocard .c_hero h1 {
        font-size: 24px !important;
        /*32*/ } }
  .herocard .c_hero small {
    font-size: 13.33333px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    color: white;
    background-color: #303030;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 10px;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }
    .herocard .c_hero small i {
      color: #FFF200; }
  .herocard .c_info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px; }
    .herocard .c_info p {
      font-size: 11.42857px;
      /*11*/
      text-transform: uppercase; }
      .herocard .c_info p a {
        font-size: 13.33333px;
        /*11*/
        text-transform: lowercase; }
  .herocard .c_bar {
    font-size: 16px;
    height: 30px;
    position: relative;
    margin-top: 15px;
    background-color: #efefef;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
    .herocard .c_bar .c_fill {
      width: 0%;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      padding: 4px;
      background-image: linear-gradient(to right, #FFF200, #ccc200);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
      .herocard .c_bar .c_fill p {
        font-size: 13.33333px;
        color: #303030;
        position: absolute;
        left: 15px;
        top: 6px;
        z-index: 3; }
    .herocard .c_bar .c_icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -5px;
      right: 0;
      z-index: 2;
      background-image: url("../images/batman_logo.png");
      background-position: center center;
      background-size: cover;
      border: 4px solid #FFF200;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  .herocard img.c_img {
    max-width: 120px;
    margin: 0 auto;
    border: 5px solid #FFF200;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    z-index: 1;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .herocard:hover {
    background-position: center -60px; }
    .herocard:hover .c_hero small {
      background-color: #0060A8; }
    .herocard:hover .btn {
      width: 100% !important; }
    .herocard:hover img.c_img {
      max-width: 150px; }

.fa-check {
  font-size: 80px !important;
  color: green !important;
  margin-bottom: 15px; }
